<h1>Add a new Stage</h1>

<form action="/stages" method="post">
  <div class="row">
  <div class="form-group">
    <label for="stage_name">Stage name</label>
    <input id="n" name="stage_name" class="form-control" type="text">
    <br>
    <label for="stage_location">Location</label>
    <input id="n2" name="stage_location" class="form-control" type="text">
  </div>
  </div>
  <button type="submit" class="main-button">Add Stage</button>
</form>
